.btn{
	display: inline-block;
	vertical-align: top;
	position: relative;
	font-family: $font;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	transition: all 0.3s ease;
	user-select: none;
	border: none;
	border-radius: 5px;

	padding: 0 25px;
	font-size: 20px;
	line-height: 64px;
	height: 64px;

	background-color: $blue;
	color: #FFF;
	text-shadow: 0 1px 0 #130b3f;
	box-shadow:
		inset 0 -2px 2px 0 transparent,
		inset 0 -20px 20px 0 transparent;

	@include res(xl){
		padding: 0 25px;
		font-size: 18px;
		line-height: 48px;
		height: 48px;
	}
	@include res(l){
		font-size: 16px;
		line-height: 40px;
		height: 40px;
	}

	&:focus,&:hover{
		outline: none;
		background-color: $orange;
		box-shadow:
			inset 0 -2px 2px 0 #b16905,
			inset 0 -20px 20px 0 #e38c03;
	}

	&:active{
		background-color: $orange;
		box-shadow:
			inset 0 0 0 0 #b16905,
			inset 0 -10px 10px 0 $orange;
	}
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}


.btn--orange{
	background-color: $orange;
	box-shadow:
		inset 0 -2px 2px 0 #b16905,
		inset 0 -20px 20px 0 #e38c03;

	&:hover,&:focus{
		background-color: $orange;
		box-shadow:
			inset 0 0 0 0 #b16905,
			inset 0 -10px 10px 0 $orange;
	}

	&:active{
		background-color: darken($orange,5%);
		box-shadow:
			inset 0 0 0 0 #b16905,
			inset 0 -10px 10px 0 transparent;
	}
}