%grid {
	flex-shrink: 1;
	max-width: 100%;
}

.hidden{
	display: none !important;
}

@for $i from 0 through 12 {
	.grid-#{$i} {
		@extend %grid;
		width: 100% / 12 * $i;
	}
	.grid-off-#{$i} {
		margin-left: 1 / 12 * $i * 100%;
	}
}

@each $breakpoint,$value in $breakpoints {
	@include res($breakpoint){
		@for $i from 0 through 12 {
			.grid-#{$i}_#{$breakpoint} {
				width: 100% / 12 * $i;
			}
			.grid-off-#{$i}_#{$breakpoint} {
				margin-left: 1 / 12 * $i * 100%;
			}
		}
	}
}

.container{
	margin: 0 auto;
	width: 100%;
	max-width: $container_width;
	position: relative;
	padding-left: 25px;
	padding-right: 25px;
	@include res(s){
		padding-left: 20px;
		padding-right: 20px;
	}
}

.row{
	display: flex;
	flex-wrap: wrap;
	margin-left: -$gutter;
	margin-right: -$gutter;

	[class^="grid"]{
		padding-left: $gutter;
		padding-right: $gutter;
	}

	&--center {
		align-items: center;
	}
	&--middle {
		justify-content: center;
	}
}

.row-big{
	display: flex;
	flex-wrap: wrap;
	margin-left: -$gutter-big;
	margin-right: -$gutter-big;
	@include res(l){
		margin-left: -15px;
		margin-right: -15px;
	}
	@include res(s){
		margin-left: -$gutter;
		margin-right: -$gutter;
	}

	[class^="grid"]{
		padding-left: $gutter-big;
		padding-right: $gutter-big;
		@include res(l){
			padding-left: 15px;
			padding-right: 15px;
		}
		@include res(s){
			padding-left: $gutter;
			padding-right: $gutter;
		}
	}

	&--center {
		align-items: center;
	}
	&--middle {
		justify-content: center;
	}
}

.row-ng{
	display: flex;
	flex-wrap: wrap;
}

.def-sec {
	padding-top: 100px;
	padding-bottom: 100px;
	@include res(xl) {
		padding-top: $pad-l;
		padding-bottom: $pad-l;
	}
	@include res(xs){
		padding-top: $pad-m;
		padding-bottom: $pad-m;
	}
}

.def-sec-bottom {
	padding-bottom: 100px;
	@include res(xl) {
		padding-bottom: $pad-l;
	}
	@include res(xs){
		padding-bottom: $pad-m;
	}
}

.def-sec-top {
	padding-top: 100px;
	@include res(xl) {
		padding-top: $pad-l;
	}
	@include res(xs){
		padding-top: $pad-m;
	}
}

.clearfix{
	&:before{
		content: " ";
		display: table;
	}
	&:after{
		content: " ";
		display: table;
		clear: both;
	}
}

.img-responsive{
	width: 100%;
	height: auto;
}