.modal{
	display: none;
	width: 400px;
	max-width: 100%;
	border-radius: 5px;
	will-change: transform,opacity;
	overflow: visible !important;
	transition: transform 0.4s ease;
	transform: translate3d(0,-20px,0);
	padding: 25px 30px;
	@include res(xs){
		padding: 20px 20px;
	}

	&__title{
		text-align: center;
		margin-bottom: 0.4em;
		padding: 0 30px;
	}

	&__descr{
		text-align: center;
		margin-bottom: 15px;
		@include res(s){
			font-size: 14px;
		}
	}

	.style-check-ios{
		margin-top: 10px;
	}

	.input-text,.input-textarea{
		display: block;
		margin-bottom: 15px;
		@include res(s){
			margin-bottom: 10px;
		}
	}
}

.fancybox-slide--current {
	.modal {
		transform: translate3d(0,0,0);
	}
}

.fancybox-is-closing{
	.modal {
		transform: translate3d(0,60px,0);
	}
}

.fancybox-bg{
	background: #0f1c33;
}

.fancybox-close-small,.fancybox-slide--image .fancybox-close-small, .fancybox-slide--video .fancybox-close-small, .fancybox-slide--iframe .fancybox-close-small{
	@include cross();
}

.fancybox-slide--video{
	padding: 40px 18px;
}