.modal{
	display: none;
	width: 385px;
	max-width: 100%;
	border-radius: 5px;
	will-change: transform,opacity;
	overflow: visible !important;
	transition: transform 0.4s ease;
	transform: translate3d(0,-20px,0);
	padding: 25px 30px;
	@include res(s){
		padding: 20px 20px;
	}

	&__title{
		text-align: center;
		margin-bottom: 20px;
		@include res(s){
			padding: 0 20px;
		}
	}

	&__descr{
		text-align: center;
		margin-bottom: 15px;
		@include res(s){
			font-size: 14px;
		}
	}

	.btn{
		width: 100%;
	}

	&__thanks{
		text-align: center;
		padding: $pad-xs 0;
	}
}

.fancybox-slide--current {
	.modal {
		transform: translate3d(0,0,0);
	}
}

.fancybox-is-closing{
	.modal {
		transform: translate3d(0,60px,0);
	}
}

.fancybox-bg{
	background: #0f1c33;
}

.fancybox-close-small,.fancybox-slide--image .fancybox-close-small, .fancybox-slide--video .fancybox-close-small, .fancybox-slide--iframe .fancybox-close-small{
	@include cross();
}

.fancybox-slide--video{
	padding: 40px 18px;
}

.fancybox-slide--iframe{
	padding: 40px 18px;
}
