body{
	font-family: $font;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.3;
	color: $color-text;
	@include res(xs) {
		font-size: 14px;
	}
}

a{
	color: inherit;
	text-decoration: none;
}


h1,.h1{
	font-size: 48px;
	line-height: 1;
	font-weight: bold;
	@include res(xl) {
		font-size: 42px;
	}
	@include res(l) {
		font-size: 36px;
	}
	@include res(s) {
		font-size: 24px;
	}
}

h2,.h2{
	font-size: 36px;
	line-height: 1;
	font-weight: bold;
	@include res(xl) {
		font-size: 34px;
	}
	@include res(l) {
		font-size: 28px;
	}
	@include res(s) {
		font-size: 22px;
	}
}

h3,.h3{
	font-size: 30px;
	line-height: 1.2;
	font-weight: bold;
	@include res(xl) {
		font-size: 28px;
	}
	@include res(l) {
		font-size: 24px;
	}
	@include res(s) {
		font-size: 20px;
	}
}

h4,.h4{
	font-size: 28px;
	line-height: 1.2;
	font-weight: bold;
	@include res(xl) {
		font-size: 24px;
	}
	@include res(l) {
		font-size: 20px;
	}
	@include res(s){
		font-size: 18px;
	}
}

.user-content {
	h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5{
		margin-bottom: $pad-xs;
	}
	p,ul,ol,table,img,.info-block,.cite-shout {
		margin-bottom: $pad-xs;
	}
	a:not(.btn) {
		color: $blue;
		text-decoration: underline;
		transition: color 0.3s ease;

		&:hover{
			color: $orange;
		}
	}
	&--mini {
		font-size: 14px;
		@include res(s) {
			font-size: 13px;
		}
	}

	img{
		max-width: 100%;
		height: auto;
	}
}

.page-title {
	padding-bottom: $pad-s;
	@include res(s) {
		padding-bottom: $pad-xs;
	}
}

.text-big{
	font-size: 18px;
	@include res(xs){
		font-size: 16px;
	}
}

.text-small{
	font-size: 14px;
	@include res(xs){
		font-size: 12px;
	}
}

.uptext{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.05em;
}

.link{
	color: $blue;
	border-bottom: 2px dotted currentColor;
	transition: all 0.3s ease;
	text-decoration: none !important;

	&:hover{
		color: $orange;
	}

	&:focus{
		outline: none;
		color: $orange;
	}
}

.blue{
	color: $blue;
}

.gray{
	color: $gray-text;
}

.rub{
	font-family: 'ALS Rubl';
	font-weight: normal;
}

.rub-small{
	font-family: 'ALS Rubl';
	font-size: 70%;
	font-weight: normal;
}

.info-block{
	position: relative;
	background: #f2f0ed;
	font-size: 14px;
	padding: $pad-xxs $pad-xxs $pad-xxs $pad-l;
	border-radius: 5px;

	&:before{
		content: "\e905";
		font-family: $font-icons;
		line-height: 1;
		font-size: 36px;
		position: absolute;
		top: $pad-xxs;
		left: 15px;
	}
}


.sec-title{
	margin-bottom: $pad-xs;

	&--bigmargin{
		margin-bottom: $pad-m;
		@include res(s){
			margin-bottom: $pad-s;
		}
	}

	.uptext{
		display: block;
		margin-bottom: $pad-xxs;

		.icon-fire{
			color: $orange;
			font-size: 27px;
			margin-right: $pad-xxs;
		}
	}

	.h1{
		small{
			display: block;
			line-height: 1.2;
			font-weight: bold;
			font-size: 30px;
			margin-top: 0.3em;
			@include res(xl) {
				font-size: 28px;
			}
			@include res(l) {
				font-size: 24px;
			}
			@include res(s) {
				font-size: 20px;
			}
		}
	}
}

.cite-shout{
	position: relative;
	background: #f2f0ed;
	font-size: 30px;
	font-style: italic;
	padding: $pad-xs $pad-xs $pad-xs $pad-l;
	@include res(l){
		font-size: 20px;
	}
	@include res(xs){
		font-size: 16px;
	}

	&:before{
		content: '—';
		position: absolute;
		top: $pad-xs;
		left: $pad-xs;
	}
}