body{
	font-family: $font;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.4;
	color: $color-text;
	@include res(xs) {
		font-size: 14px;
	}
}

a{
	color: inherit;
	text-decoration: none;
}


h1,.h1{
	font-size: 48px;
	line-height: 1;
	font-weight: bold;
	@include res(xl) {
		font-size: 42px;
	}
	@include res(l) {
		font-size: 36px;
	}
	@include res(s) {
		font-size: 24px;
	}
}

h2,.h2{
	font-size: 36px;
	line-height: 1;
	font-weight: bold;
	@include res(xl) {
		font-size: 34px;
	}
	@include res(l) {
		font-size: 28px;
	}
	@include res(s) {
		font-size: 22px;
	}
}

h3,.h3{
	font-size: 30px;
	line-height: 1.2;
	font-weight: bold;
	@include res(xl) {
		font-size: 28px;
	}
	@include res(l) {
		font-size: 24px;
	}
	@include res(s) {
		font-size: 20px;
	}
}

h4,.h4{
	font-size: 28px;
	line-height: 1.2;
	font-weight: bold;
	@include res(xl) {
		font-size: 24px;
	}
	@include res(l) {
		font-size: 20px;
	}
	@include res(s){
		font-size: 18px;
	}
}

.user-content {
	h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5{
		margin-bottom: $pad-xs;
	}
	p,ul,ol,table,img,.info-block,.cite-shout,.img-descr {
		margin-bottom: $pad-xs;
	}
	a:not(.btn) {
		color: $blue;
		text-decoration: underline;
		transition: color 0.3s ease;

		&:hover{
			color: $orange;
		}
	}
	&--mini {
		font-size: 14px;
		@include res(s) {
			font-size: 13px;
		}
	}

	img{
		max-width: 100%;
		height: auto;
		border-radius: 40px;
		@include res(l){
			border-radius: 20px;
		}
	}

	ul{
		list-style: none;

		li{
			position: relative;
			padding-left: 30px;
			margin-bottom: 10px;

			&:before{
				content: '';
				width: 15px;
				height: 2px;
				background: $blue;
				position: absolute;
				left: 0;
				top: 0.6em;
			}
		}
	}

	ol{
		list-style: none;
		counter-reset: ol;

		li{
			position: relative;
			padding-left: 30px;
			margin-bottom: 10px;
			counter-increment: ol;

			&:before{
				content: counter(ol)".";
				position: absolute;
				left: 0;
				top: 0;
				color: $blue;
				font-weight: bold;
			}
		}
	}
}


.checked-list{
	list-style: none;

	li{
		position: relative;
		padding-left: 30px;
		margin-bottom: 10px;

		&:before{
			content: '\e90f';
			font-family: $font-icons;
			font-size: 14px;
			color: $blue;
			position: absolute;
			left: 0;
			top: 2px;
		}
	}
}

.img-descr{
	font-size: 14px;
	color: $gray-text;
	margin-top: -10px;
}

.page-title {
	padding-bottom: $pad-s;
	@include res(s) {
		padding-bottom: $pad-xs;
	}
}

.text-big{
	font-size: 18px;
	@include res(xs){
		font-size: 16px;
	}
}

.text-small{
	font-size: 14px;
	@include res(xs){
		font-size: 12px;
	}
}

.uptext{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.05em;
}

.link{
	color: $blue;
	border-bottom: 2px dotted currentColor;
	transition: all 0.3s ease;
	text-decoration: none !important;
	padding-bottom: 2px;
	font-size: 14px;

	&:hover{
		color: $orange;
	}

	&:focus{
		outline: none;
		color: $orange;
	}

	&--big{
		font-size: 16px;
	}
}

.link-icon{
	display: inline-flex;
	align-items: center;
	color: $blue;
	text-decoration: none !important;
	transition: all 0.3s ease;
	white-space: nowrap;
	font-size: 14px;

	&:hover{
		color: $orange;
	}

	&:focus{
		outline: none;
		color: $orange;
	}

	i{
		margin-right: $pad-xxs;
	}

	span{
		border-bottom: 2px dotted currentColor;
		padding-bottom: 2px;
	}

	&--big{
		font-size: 16px;
	}
}

.blue{
	color: $blue;
}

.gray{
	color: $gray-text;
}

.rub{
	font-family: 'ALS Rubl';
	font-weight: normal;
}

.rub-small{
	font-family: 'ALS Rubl';
	font-size: 70%;
	font-weight: normal;
}

.info-block{
	position: relative;
	background: #f2f0ed;
	font-size: 14px;
	padding: $pad-xxs $pad-xxs $pad-xxs $pad-l;
	border-radius: 5px;

	&:before{
		content: "\e905";
		font-family: $font-icons;
		line-height: 1;
		font-size: 36px;
		position: absolute;
		top: $pad-xxs;
		left: 15px;
	}
}


.sec-title{
	margin-bottom: $pad-xs;

	&--bigmargin{
		margin-bottom: $pad-m;
		@include res(s){
			margin-bottom: $pad-s;
		}
	}

	.uptext{
		display: block;
		margin-bottom: $pad-xxs;

		.icon-fire{
			color: $orange;
			font-size: 27px;
			margin-right: $pad-xxs;
		}
	}

	.h1{
		small{
			display: block;
			line-height: 1.2;
			font-weight: bold;
			font-size: 30px;
			margin-top: 0.3em;
			@include res(xl) {
				font-size: 28px;
			}
			@include res(l) {
				font-size: 24px;
			}
			@include res(s) {
				font-size: 20px;
			}
		}
	}

	&--line{
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__left{
		padding-right: $pad-xs;
	}

	&__right{
		margin-top: $pad-xxs;
	}
}

.cite-shout{
	position: relative;
	background: #f2f0ed;
	font-size: 30px;
	font-style: italic;
	padding: $pad-xs $pad-xs $pad-xs $pad-l;
	@include res(l){
		font-size: 20px;
	}
	@include res(xs){
		font-size: 16px;
	}

	&:before{
		content: '—';
		position: absolute;
		top: $pad-xs;
		left: $pad-xs;
	}
}


::-moz-selection { background: $orange; }
::selection { background: $orange; }