$breakpoints: (
	'xxl': (max-width: 1680px),
	'xl': (max-width: 1400px),
	'l': (max-width: 1024px),
	'm': (max-width: 768px),
	's': (max-width: 680px),
	'xs': (max-width: 480px),
	'xxs': (max-width: 375px),
);

$font: 'Geometria', 'Helvetica Neue', Arial, sans-serif;
$font-icons: 'icomoon' !important;

$container_width: 1240px;

$gutter: 10px;
$gutter-big: 25px;

$color-text: #3a3a3a;
$blue: #004dd8;
$orange: #fbac00;
$purple: #1d1263;
$gray-bg: #f9f9f9;
$gray-text: #8d8c8a;
$light-bg: #e4f4f7;


$pad-xxs: 10px;
$pad-xs: 20px;
$pad-s: 30px;
$pad-m: 50px;
$pad-l: 60px;
$pad-xl: 135px;