//s-home-video
.s-home-video{
	padding: 20px 0;

	.row{
		align-items: flex-end;
		@include res(m){
			align-items: flex-start;
		}
	}

	.h1{
		margin-bottom: 0.1em;
	}

	.info-block{
		margin-top: $pad-m;
		@include res(s){
			margin-top: $pad-s;
		}
	}
}

.video-man{
	display: block;
	position: relative;
	width: 428px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	@include res(s){
		margin-top: $pad-s;
		width: 300px;
		max-width: 80%;
	}

	&:hover,&:focus{
		outline: none;
		.video-man__icon{
			fill: $orange;
		}
	}

	&__img{
		max-width: 100%;
		height: auto;
	}

	&__icon{
		fill: $gray-bg;
		height: 150px;
		width: 125px;
		position: absolute;
		z-index: 2;
		bottom: 25%;
		left: 0;
		right: 0;
		margin: 0 auto;
		transform: translate3d(10%,0,0);
		transition: fill 0.3s ease;
		@include res(s){
			height: 100px;
			width: 83px;
		}
	}
}
//s-home-video


//s-home-director
.s-home-director{

}

.home-director-info{
	position: relative;
	margin-top: $pad-s;

	.social-list{
		margin-top: $pad-xs;
	}

	&__sign{
		position: absolute;
		left: 220px;
		top: 0;
		max-width: 50%;
		height: auto;
		//z-index: 0;
		@include res(l){
			width: 100px;
			top: 10px;
			left: 180px;
		}
	}
}

.home-director-img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	height: auto;
	margin-top: -50px;
	@include res(xl){
		margin-top: 0;
		width: 350px;
	}
	@include res(m){
		display: none;
		margin-top: $pad-s;
		width: 200px;
		margin-left: 0;
	}
}
//s-home-director


//s-home-team
.s-home-team{
	overflow: hidden;

	img{
		display: block;
		position: relative;
		z-index: 1;
		width: 100%;
		height: auto;
		@include res(m){
			width: 140%;
			margin-left: -20%;
		}
	}

	&__btnwrap{
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		bottom: $pad-s;
		z-index: 2;
		text-align: center;
		@include res(xs){
			position: relative;
			bottom: 0;
			margin-bottom: $pad-xs;
		}

		.btn{
			@include res(xs){
				padding: 0 10px;
			}
		}
	}
}
//s-home-team