.garant-base-sec {
	background: $gray-bg;
}

.garant-base {}

.garant-base__info {}

.garant-base__list {
	display: flex;
	flex-wrap: wrap;
	max-width: 600px;
	margin-left: auto;
	padding-left: $pad-xs;
	@include res(s) {
		padding-left: 0;
	}
}

.garant-base__item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(25% - 10px);
	margin: 5px 5px;
	padding: 15px;
	border-radius: 20px;
	background: #fff;
	@include res(m) {
		width: calc(33.33333% - 10px);
	}
	@include res(s) {
		 width: calc(25% - 10px);
	 }
	@include res(xs) {
		width: calc(33.33333% - 10px);
	}
	img {
		display: block;
		max-width: 100%;
	}
}

.garant-base__more-wrap {
	.garant-base__list {
		padding-left: 0;
	}
}

.garant-base__more {
	max-width: 600px;
	margin-left: auto;
	padding-top: $pad-xs;
	text-align: center;
	color: $blue;
	a {
		display: inline-block;
		border-bottom: 1px dashed $blue;
		transition: all 0.3s ease;
		&:hover {
			border-color: transparentize($blue,1);
		}
	}
}