.s-panel-section{
	padding: $pad-m 0;
	@include res(s){
		padding: $pad-s 0;
	}
}

.panel-row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -$gutter;
	margin-right: -$gutter;
	&--3 {
		margin-left: -$gutter-big;
		margin-right: -$gutter-big;
		@include res(l){
			margin-left: -15px;
			margin-right: -15px;
		}
		@include res(s){
			margin-left: -$gutter;
			margin-right: -$gutter;
		}
		.panel-wrap {
			width: calc(100% / 3 - 50px);
			margin-left: $gutter-big;
			margin-right: $gutter-big;
			@include res(l) {
				width: calc(100% / 3 - 30px);
				margin-left: 15px;
				margin-right: 15px;
			}
			@include res(m) {
				width: calc(100% / 3 - 30px);
			}
			@include res(s) {
				width: calc(100% / 2 - 20px);
				margin-left: $gutter;
				margin-right: $gutter;
				margin-bottom: $pad-s;
			}
			@include res(xs) {
				width: 100%;
				max-width: 363px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}

.panel-wrap {
	width: calc(100% / 4 - 20px);
	margin-left: $gutter;
	margin-right: $gutter;
	@extend %shadow-for-white-bg;
	border-radius: 10px;
	background: #FFF;
	@include res(m) {
		width: calc(100% / 2 - 20px);
		margin-bottom: $pad-s;
	}
	@include res(xs) {
		width: 100%;
		max-width: 363px;
		margin-left: auto;
		margin-right: auto;
	}
}

.panel{


	&__img{
		display: block;
		width: 100%;
		height: auto;
		border-radius: 10px 10px 0 0;
	}

	&__content{
		padding: $pad-xs $pad-xs;
		@include res(l){
			padding: $pad-xs 16px;
			font-size: 14px;
		}
	}

	.h2{
		margin-bottom: $pad-xxs;
		@include res(xl) {
			font-size: 30px;
		}
		@include res(l) {
			font-size: 20px;
		}
		@include res(s) {
			font-size: 20px;
		}
		small{
			display: block;
			margin-bottom: 4px;
			font-size: 14px;
			text-transform: uppercase;
			letter-spacing: 0.05em;
		}
	}

	&__text{
		margin-bottom: $pad-xs;
	}
}