.review-video{

	.video-preview{
		margin-bottom: $pad-xs;
	}

	&__descr{
		font-size: 14px;
		color: $gray-text;
		line-height: 1.2;
		@include res(xl){
			font-size: 12px;
		}
		@include res(l){
			font-size: 10px;
		}

		span{
			display: block;
			margin-bottom: 8px;
		}
	}
}