.s-earth{
	min-height: 824px;
	background: url("../img/earth/bg.jpg") center top no-repeat $purple;
	padding-top: 170px;
	padding-bottom: 60px;
	color: #FFF;
	font-size: 14px;
	line-height: 1.2;
	@include res(s){
		padding-top: $pad-l;
		padding-bottom: $pad-l;
		min-height: initial;
		background: url("../img/earth/bg_m.jpg") center top no-repeat $purple;
	}

	&:before{
		content: '';

	}

	.uptext{
		margin-top: $pad-xs;
	}

	.grid-4 div{
		margin-bottom: 6px;
	}
}