.social-list{
	display: flex;

	a{
		color: #FFF;
		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;
		width: 38px;
		height: 38px;
		border-radius: 5px;
		background: $blue;
		font-size: 22px;
		margin-right: $pad-xs;
		transition: color 0.3s ease,background 0.3s ease;

		&:hover{
			background: #FFF;
			color: $blue;
		}

		i{
			&.icon-mail{
				font-size: 15px;
			}
			&.icon-soc-vk{
				font-size: 14px;
			}
			&.icon-bubble-full{
				font-size: 20px;
			}
			&.icon-soc-odn{
				font-size: 25px;
			}
			&.icon-soc-g{
				font-size: 15px;
			}
			&.icon-soc-twitter{
				font-size: 20px;
			}
		}
	}

	&--hover-orange{
		a{
			&:hover{
				background: $orange;
				color: #FFF;
			}
		}
	}

	&--small{
		a{
			font-size: 16px;
			width: 30px;
			height: 30px;

			i{
				&.icon-mail{
					font-size: 12px;
				}
				&.icon-soc-vk{
					font-size: 12px;
				}
				&.icon-bubble-full{
					font-size: 16px;
				}
			}
		}
	}
}